@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Forum&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,600&family=Press+Start+2P&display=swap');

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

html, body {
  padding: 0;
  background-color: #E7E6E6;
  background-image: url("assets/bg-clouds.png");
  /* cursor: url("./assets/cursor.png"), auto; */
}

a {
  text-decoration: none;
}

.header-main {
  display: flex;
  justify-content: space-around;
  padding-bottom: 40px;
  text-decoration: none;
}

.header-main-img {
  width: 40%;
}

.header-main-text {
  font-family: 'Unbounded', cursive;
  padding-top: 40px;
  font-size: 40px;
  color: #4E4E4E;
  text-decoration: none;
}

.project-main-text {
  font-family: 'Unbounded', cursive;
  font-size: 30px;
  color: #4E4E4E;
  text-decoration: none;
  line-height: 1.2;
}

.nav-main {
text-decoration: none;
font-family: 'IBM Plex Mono', monospace;
padding-top: 60px;
list-style: none;
display: flex;
color: #4E4E4E;
padding-left: 30px;
}

.spacing-home-container {
  padding-left: 20vw;
  padding-right: 20vw;
}

.body-main-center {
  margin-right: 80px;
}


/* Mobile Display  */
@media screen and (max-width: 800px) {
  .header-main-img {
    width: 100%;
  }
  .header-main {
    flex-direction: column;
    align-items: center;
  }
  .nav-main {
    padding-top: 10px;
    padding-right: 80px;
    flex-direction: row;
    justify-content: center;
  }
  .header-main-text {
    font-size: 30px;
  }

  .body-main {
    flex-direction: column;
    justify-content: center;
  }

  .body-main-center {
    padding-top: 30px;
    margin-left: 20px;
    margin-right: 30px;
  }

  .page-buttons {
   padding-bottom: 40px;
  }

  .design-button {
    margin-right: 35px;
    margin-top: 20px;
  }
  .spacing-home-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  .design-cards {
    margin-inline: 30px;
  }
  .text-style-back {
    padding-left: 30px;
  }
  .img-style {
    width: 100%;
  }
  .code-container {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.hvr-float {
  color: #4E4E4E;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}

.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
  color: #4E4E4E;
}

.nav-main-text {
  padding-left: 70px;
  text-decoration: none;
  color: #4E4E4E;
  
}

.reg-text-main {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 17px;
}

.home-text-main {
  text-decoration: none;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 16px;
  color: #525050;
}

.body-main {
  display:flex;
  justify-content: space-around;
}

.body-main-text {
  font-family: 'IBM Plex Mono', monospace;
  padding-right: 80px;
  color: #4E4E4E;
}

.github-logo {
  width: 30px;

}
.linkedin-logo {
  width: 30px;
  padding-left: 10px;
}

.insta-logo {
  width: 30px;
  padding-left: 10px;
}

.page-buttons {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.code-button {
  background-color: #BCCCD6;
  color: white;
  border: none;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'IBM Plex Mono', monospace;
  display: inline-block;
  margin-right: 40px;
}

.design-button {
  background-color: #CADBCC;
  color: white;
  border: none;
  padding: 10px 80px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'IBM Plex Mono', monospace;
  display: inline-block;
}

ul.a {
  list-style-image: url(./assets/icon-ul.png);
}



.accent-style {
  color: #5CA4A9;
}

.design-cards {
  margin-top: 20px;
  width: 60vw;
  border: black 2px solid;
  margin-bottom: 30px;
  border-radius: 10px;
}

.design-cards-text {
  display: flex;
  justify-content: center;
  font-family: 'Unbounded', cursive;
  font-size: 25px;
  margin-top: 50px;
  color: #4E4E4E;
}

footer.a {
  color: #DBB4AD;
  padding-top: 20px;
  padding-bottom: 50px;
}


.text-style-back {
  font-family: 'IBM Plex Mono', monospace;
  font-size: 20px;
  color: #C17D71;
}
.text-style-back:hover {
  color: #9D4F43;
}

.text-style-design {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: #F3E5E3;
}

h5.a {
  font-family: 'Unbounded', cursive;
  font-size: 30px;
  color: #7a91b7;
  margin-top: 20px;
  text-decoration: none;
  line-height: 1.0;
}

.img-style {
  width: 70%;
  height: 70%;
}

.action-call-btn {
  background-color: #C17D71;
  font-family: 'Chivo Mono', monospace;
  font-size: 20px;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 8px;
}

.code-container {
  margin-left: 60px;
  margin-right: 60px;
}

.modal-style {
  width: 100%;
  max-width: max-content;
}

#bolder-text {
  font-weight: 600;
  font-style: italic;
  color:#bf8daa;
}

#modal-img,
#modal-img2 {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; 
}

#modal-img:hover,
#modal-img2:hover
{opacity: 0.7;}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  padding-top: 100px; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.9); 
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 900px;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
  .modal-content {
    width: 90%;
  }
}

h2.top-header-main {
  font-family: 'IBM Plex Mono', monospace;
  font-style: italic;
  font-size: 30px;
  color: #e1b1cd;
  text-decoration: none;
}
